.dm-job-city {
    width: 100%;
    min-height: 100vh;
    font-size: 0;
    background-color: var(--goldenWesLow);
}

.dm-job-city-header {
    width: 100%;
    display: inline-block;
    background-color: var(--alternateWes);
    vertical-align: top;
    position: relative;
}

.dm-job-city-graph {
    width: 100%;
    display: inline-block;
}

.dm-job-city-text {
    padding: 2rem;
    max-width: 90%;
}

.dm-job-city-text-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    color: var(--alternateWes);
    display: inline-block;
    background-color: var(--goldenWes);
    padding: 1rem 2rem;
    vertical-align: top;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--alternateWes);
        height: 1px;
    }
}

.dm-job-city-text-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--goldenWes);
    display: inline-block;
    max-width: 20rem;
    margin-top: 7rem;
    margin-left: 1rem;
    &:before {
        content: '';
        width: 12rem;
        background-color: var(--goldenWes);
        height: 1px;
        display: block;
        margin-bottom: 1rem;
    }
}

.dm-job-icon {
    width: 3rem;
    height: 3rem;
    display: inline-block;
    vertical-align: middle;
}


/* stylelint-disable */

.dm-job-city-chart {
    .xAxis {
        .tick {
            line {
                fill: none;
                stroke: var(--alternateWes);
                stroke-width: 1px;
                stroke-dasharray: 3px 3px;
                opacity: .7;
            }
        }
    }
    .xAxis,
    .yAxis {
        .tick {
            text {
                font-family: var(--roboto);
                font-size: 13px;
            }
        }
        .domain {
            stroke: none;
        }
    }
    .bar {
        fill: var(--alternateWes);
    }
}


/* stylelint-enable */
