.dm-job-city {
    width: 100%;
    min-height: 100vh;
    font-size: 0;
    background-color: var(--goldenWesLow);
}

.dm-job-city-photo {
    max-width: 40%;
    position: relative;
    display: inline-block;
    img {
        height: 100vh;
        width: 100%;
        object-fit: contain;
    }
}

.dm-job-city-graph {
    width: 60%;
    display: inline-block;
}

.dm-job-city-text {
    position: absolute;
    top: 2rem;
    left: 10%;
    padding: 2rem;
    max-width: 80%;
}

.dm-job-city-text-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    color: var(--alternateWes);
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--alternateWes);
        height: 1px;
    }
}

.dm-job-city-text-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--black);
    max-width: 80%;
}
/* stylelint-disable */
.dm-job-city-chart {
    .xAxis {
        .tick {
            line {
                fill: none;
                stroke: var(--alternateWes);
                stroke-width: 1px;
                stroke-dasharray: 3px 3px;
                opacity: .7;
            }
        }
    }
    .xAxis,
    .yAxis {
        .tick {
            text {
                font-family: var(--roboto);
                font-size: 13px;
            }
        }
        .domain {
            stroke: none;
        }
    }
    .bar {
        fill: var(--alternateWes);
    }
}
/* stylelint-enable */
