* {
    box-sizing: border-box;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.x-axis,
.y-axis {
    path {
        stroke: none;
    }
}

.dm-job-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    margin: 0;
    padding: 1rem 2rem;
    display: block;
    width: max-content;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--goldenWes);
        height: 1px;
    }
}

.dm-job-city-text-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    color: var(--goldenWes);
    display: inline-block;
    vertical-align: middle;
    background-color: var(--alternateWes);
    padding: 1rem 2rem;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--goldenWes);
        height: 1px;
    }
}

.dm-a {
    position: absolute;
    font-size: 6rem;
    color: var(--black);
    font-family: var(--roboto);
}

.dm-intro {
    max-width: 30rem;
    margin: 5rem auto;
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--alternateWes);
    background-color: var(--goldenWes);
    padding: 2rem;
}

.dm-container {
    margin: 0 auto;
    max-width: 64rem;
}

.dm-job-generic {
    padding: 3rem 0;
}

.dm-container-graph {
    text-align: center;
    min-height: 80vh;
    position: relative;
}

.legend {
    font-size: 14px;
    font-family: var(--roboto);
    color: var(--black);
}

.overlay {
  fill: none;
  pointer-events: all;
}

.footer {
    background-color: #E25772;
    width: 100%;
    padding: 10vh 0;
    margin-top: 10vh;
}

.footer-texto {
    color: var(--black);
    font-family: var(--roboto);
    font-size: 1rem;
}

.footer-links {
    font-size: 1rem;
    font-weight: bold;
}

.dm-job-methodology-text {
    font-size: 14px;
    font-family: var(--adamina);
    color: var(--black);
    max-width: 30rem;
}
