* {
    box-sizing: border-box;
    line-height: 1.5;
}

.x-axis,
.y-axis {
    path {
        stroke: none;
    }
}

.dm-title {
    font-family: var(--roboto);
    font-size: 1.5rem;
    margin: 0;
    background-color: var(--alternateWes);
    color: var(--goldenWes);
    padding: 2rem 7rem;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--goldenWes);
        height: 1px;
    }
}

.dm-a {
    position: absolute;
    font-size: 6rem;
    color: var(--black);
    font-family: var(--roboto);
}

.dm-intro {
    max-width: 30rem;
    margin: 5rem auto;
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--alternateWes);
    background-color: var(--goldenWes);
    padding: 2rem;
}
