* {
    box-sizing: border-box;
    line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6,
span,
p {
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

.x-axis,
.y-axis {
    path {
        stroke: none;
    }
}

.dm-job-title {
    font-size: 1rem;
    font-family: var(--roboto);
    margin: 0;
    padding: 1rem 2rem;
    display: block;
    width: max-content;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--goldenWes);
        height: 1px;
    }
}

.dm-job-city-text-title {
    font-size: 1rem;
    font-family: var(--roboto);
    color: var(--goldenWes);
    display: inline-block;
    vertical-align: middle;
    background-color: var(--alternateWes);
    padding: 1rem 2rem;
    &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        width: 2rem;
        margin-right: .5rem;
        background-color: var(--goldenWes);
        height: 1px;
    }
}

.dm-a {
    position: absolute;
    font-size: 6rem;
    color: var(--black);
    font-family: var(--roboto);
}

.dm-intro {
    max-width: 30rem;
    margin: 5rem auto;
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--alternateWes);
    background-color: var(--goldenWes);
    padding: 2rem;
}

.dm-container {
    margin: 0 auto;
    max-width: 64rem;
    padding: 0 1rem;
}

.dm-job-generic {
    padding: 3rem 0;
}

.dm-container-graph {
    text-align: center;
    min-height: 80vh;
    position: relative;
}

.legend {
    font-size: 14px;
    font-family: var(--roboto);
    color: var(--black);
}

.overlay {
  fill: none;
  pointer-events: all;
}

.footer {
    background-color: #E25772;
    width: 100%;
    padding: 10vh 0;
}

.footer-texto,
.footer-links {
    color: var(--black);
    font-family: var(--roboto);
    font-size: 1rem;
}

.footer-links {
    font-weight: bold;
}

.dm-job-methodology {
    background-color: var(--greyWes);
    padding: 3rem 0;
}

.dm-job-methodology-text {
    font-size: 14px;
    font-family: var(--adamina);
    color: var(--black);
    max-width: 30rem;
    margin-top: 0;
}

.dm-job-title-methodology {
    padding: 1rem 0;
    &:before {
        display: none;
    }
}

.axis .domain {
    stroke: none;
}

.tick {
    line {
        fill: none;
        stroke: #2D3065;
        stroke-width: 1px;
        stroke-dasharray: 3px 3px;
        opacity: .7;
    }
    text {
        font-family: var(--roboto);
        font-size: 13px;
    }
}

.data-viz {
    width: 100%;
    padding: 2.5rem 0;
    font-size: 0;
    background-color: #f4f4f4;
}

.data-viz-container {
    max-width: 70vw;
    margin: 0 auto;
    text-align: center;
}

.data-viz-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    font-weight: bold;
    text-align: center;
}

.data-viz-element {
    width: 16rem;
    display: inline-block;
    text-decoration: none;
    &:not(:last-child) {
        margin-right: 2rem;
    }
}

.data-viz-element-img {
    width: 100%;
    max-width: 100%;
    object-fit: cover;
}

.data-viz-element-txt {
    font-size: 1rem;
    font-family: var(--roboto);
    line-height: 1.3;
    text-align: left;
    color: #111;
}

@media only screen and (min-width: 48em) {

    .dm-container {
        padding: 0;
    }

    .dm-job-city-text-title,
    .dm-job-title {
        font-size: 1.5rem;
    }

}
