.dm-job-flash-title {
    font-size: 1.5rem;
    font-family: 'Roboto Condensed', sans-serif;
    color: var(--goldenWes);
    background-color: var(--redWes);
    display: block;
    padding: 1rem 2rem;
    max-width: max-content;
    margin: 0;
}

.dm-job-flash-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--alternateWes);
    display: inline-block;
    vertical-align: middle;
    max-width: 25rem;
}
