.dm-job-flash-title {
    color: var(--goldenWes);
    background-color: var(--redWes);
}

.dm-job-flash-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--alternateWes);
    display: block;
    vertical-align: middle;
    max-width: 25rem;
}

.dm-job-flash-graph {
    .line {
        fill: none;
        stroke: var(--redWes);
        stroke-width: 2px;
    }
    .domain {
        stroke: none;
    }
    text {
        font-family: var(--roboto);
        font-size: 13px;
    }
    .y {
        .tick {
            /* stylelint-disable */
            line {
                fill: none;
                stroke: var(--alternateWes);
                stroke-width: 1px;
                stroke-dasharray: 3px 3px;
                opacity: .7;
            /* stylelint-enable */
            }
        }
    }
}
