* {
    box-sizing: border-box;
}

.dm-header {
    background-color: #fff;
    max-height: 100vh;
    position: relative;
    display: flex;
}

.dm-header-container {
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dm-header-photo {
    padding: 1rem 1rem 0;
    width: 100%;
    object-fit: cover;
    height: 100vh;
}

.dm-header-title {
    font-family: var(--monoton);
    font-weight: 400;
    font-style: normal;
    font-size: 3rem;
    letter-spacing: 1px;
    color: var(--redWes);
    margin: 0 0 .5rem;
}

.dm-header-text {
    font-family: var(--adamina);
    font-size: 1rem;
    color: var(--alternateWes);
    margin-top: 0;
    max-width: 28rem;
}

.annotation path {
    stroke: var(--redWes);
    fill: none;
}

.annotation path.connector-arrow,
.title text,
.annotation text,
.annotation.callout.circle .annotation-subject path {
    fill: var(--redWes);
    font-family: var(--roboto);
    font-size: 14px;
}

.annotation-subject path {
    fill-opacity: 1;
}

.annotation-note-bg {
    fill: var(--redWes);
}

.annotation-note-title {
    font-weight: bold;
}

.annotation-note-label {
    font-family: var(--adamina);
    font-weight: bold;
}
