.dm-job-multiple {
    background-color: var(--grey);
    .dm-job-remote-paragraph {
        &:before {
            background-color: var(--alternateWes);
        }
    }
}

.dm-job-title-multiple {
    background-color: var(--alternateWes);
    color: var(--goldenWes);
}

.dm-multiple-graph {
    .legend-text {
        font-family: var(--roboto);
    }
}

.dm-job-multiple-legend-element-text {
    display: inline-block;
    vertical-align: middle;
}
