.dm-job-remote {
    width: 100%;
    background-color: var(--blueWes);
    min-height: 100vh;
}

.dm-job-remote-title {
    font-size: 1.5rem;
    font-family: var(--roboto);
    color: var(--alternateWes);
    background-color: var(--goldenWes);
    display: inline-block;
    padding: 1rem 2rem;
}

.dm-job-remote-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--black);
    display: inline-block;
    vertical-align: middle;
    max-width: 25rem;
    margin-left: 2rem;
    &:after,
    &:before {
        content: '';
        width: 12rem;
        background-color: var(--alternateWes);
        height: 1px;
        display: block;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

/* stylelint-disable */
.dm-job-remote-chart {
    .line {
        stroke: var(--black);
    }
    .circles {
        fill: var(--goldenWes);
    }
    .xAxis,
    .yAxis {
        .tick {
            line {
                fill: none;
                stroke: var(--black);
                stroke-width: 1px;
                stroke-dasharray: 3px 3px;
                opacity: .7;
            }
        }
    }
    .xAxis,
    .yAxis {
        .tick {
            text {
                font-family: var(--roboto);
                font-size: 13px;
            }
        }
        .domain {
            stroke: none;
        }
    }
    .bar {
        fill: var(--alternateWes);
    }
}
/* stylelint-enable */
