.dm-job-remote {
    width: 100%;
    background-color: var(--blueWes);
    min-height: 100vh;
}

.dm-job-remote-title {
    color: var(--alternateWes);
    background-color: var(--goldenWes);
    &:before {
        background-color: var(--alternateWes);
    }
}

.dm-job-remote-paragraph {
    font-size: 1rem;
    font-family: var(--adamina);
    color: var(--black);
    display: inline-block;
    max-width: 25rem;
    margin-right: 2rem;
    vertical-align: top;
    &:before {
        content: '';
        width: 100%;
        background-color: var(--goldenWes);
        height: 1px;
        display: block;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
}

/* stylelint-disable */
.dm-job-remote-graph {
    .lines {
        stroke: var(--black);
        fill: none;
    }
    .circles {
        fill: var(--goldenWes);
    }
}
/* stylelint-enable */
