:root {
  --fontSystem: BlinkMacSystemFont, -apple-system, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', Helvetica, sans-serif;
  --monospace: 'SFMono-Regular', Consolas, Menlo, Courier, monospace;
  --monoton: 'Monoton', cursive;
  --adamina: 'Adamina', serif;
  --roboto: 'Roboto Condensed', sans-serif;
  --bgcPrincipal: #D1E6F3;
  --goldenWes: #F8DFAB;
  --redWes: #9C1B12;
  --blueWes: #759CA7;
  --violetWes: #CEBAC6;
  --greyWes: #DDE8E0;
  --alternateWes: #2D3065;
}
