.x-axis,
.y-axis {
    path {
        stroke: none;
    }
}

.tick {
    line {
        fill: none;
        stroke: var(--violetWes);
        stroke-width: 1px;
        stroke-dasharray: 3px 3px;
        opacity: .5;
    }
}

.line {
    fill: none;
    stroke: #A8D8C9;
}
