.dm-job-year {
    background-color: var(--greyWes);
    font-size: 0;
    padding: 2rem 0;
    position: relative;
    .tick {
        line {
            fill: none;
            stroke: var(--alternateWes);
            stroke-width: 1px;
            stroke-dasharray: 3px 3px;
            opacity: .7;
        }
        text {
            font-family: var(--roboto);
            font-size: 13px;
        }
    }
    .annotation-subject {
        display: none;
    }
    .line {
        fill: none;
        stroke: var(--alternateWes);
    }
    .circles {
        fill: #9f4776;
    }
}

.dm-job-title-year {
    background-color: var(--alternateWes);
    color: var(--goldenWes);
}

.dm-job-year-graph {
    position: relative;
    .axis {
        .domain {
            stroke: none;
        }
    }
}
