.x-axis,
.y-axis {
    path {
        stroke: none;
    }
}

.tick {
    line {
        fill: none;
        stroke: var(--violetWes);
        stroke-width: 1px;
        stroke-dasharray: 3px 3px;
        opacity: .7;
    }
}

.line {
    fill: none;
    stroke: var(--violetWes);
}

.dm-job-year {
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
    background-color: var(--greyWes);
}
